.DS_Store
/docs
/node_modules
/site
/tmp
/renovate-schema.json
/dist
__pycache__
/cypress/videos/
/cypress/screenshots/
/.venv
/.vscode/*
/yarn.lock
.parcel-cache/
/.cache/
.pdm-python

!.vscode/settings.json
