# copy/paste of the .gitignore

.DS_Store
/docs
/node_modules
/site
/tmp
/renovate-schema.json
/dist

# Ignore the git submodule that pulls in the Renovate content
/deps

# Ignore the .venv directory
.venv

# Ignore the list of abbreviations, as Prettier messes up the syntax
/includes/abbreviations.md

# Ignore the mkdocs.yml file, as Prettier moves some comments around
mkdocs.yml
