[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "==1.5.3"
mkdocs-awesome-pages-plugin = "==2.9.2"
mkdocs-material = {ref = "spike/search-preview-2", git = "git+https://github.com/squidfunk/mkdocs-material.git"}

[dev-packages]
