[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "==1.4.3"
mkdocs-material = "==9.1.17"
mkdocs-material-extensions = "==1.1.1"
mkdocs-awesome-pages-plugin = "==2.9.1"

[dev-packages]
