[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "==1.5.3"
mkdocs-material = "==9.5.3"
mkdocs-awesome-pages-plugin = "==2.9.2"
importlib-metadata = { version = ">=4.4", markers = "python_version < '3.10'" }

[dev-packages]
