name: publish-docs

on:
  push:
    branches:
      - '**'
      - '!gh-pages'
  pull_request:
    branches:
      - 'main'

env:
  PDM_VERSION: 2.21.0 # renovate: datasource=pypi depName=pdm
  HUSKY: 0 # disable husky on CI

jobs:
  build:
    name: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          submodules: true

      - name: Setup pnpm
        uses: pnpm/action-setup@fe02b34f77f8bc703788d5817da081398fad5dd2 # v4.0.0
        with:
          standalone: true

      - name: Set up Node.js
        uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4.1.0
        with:
          node-version-file: .node-version
          cache: 'pnpm' # doesn't cache cypress
          cache-dependency-path: '**/pnpm-lock.yaml'

      - name: Setup PDM
        uses: pdm-project/setup-pdm@568ddd69406b30de1774ec0044b73ae06e716aa4 # v4.1
        with:
          python-version-file: .python-version
          version: ${{ env.PDM_VERSION }}
          cache: true

      - name: Init platform
        run: |
          git config --global core.autocrlf false
          git config --global core.symlinks true
          git config --global user.email 'bot@renovateapp.com'
          git config --global user.name  'Renovate Bot'
          python --version
          pdm --version

      - name: Cache node_modules and cypress
        uses: actions/cache@6849a6489940f00c2f30c0fb92c6274307ccb58a # v4.1.2
        with:
          path: |
            ~/.cache/Cypress
            node_modules
          key: npm-${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}

      - name: Installing dependencies
        run: make install

      - name: Run Prettier
        run: pnpm prettier

      - name: Run shellcheck
        uses: reviewdog/action-shellcheck@ccaafec556ffa154f112bfcb7b9c9574190b7091 # v1.27.0
        with:
          reporter: github-pr-review
          filter_mode: nofilter
          path: |
            bin
            .devcontainer
            .husky
          pattern: '*.sh'
          check_all_files_with_shebangs: 'true'

      - name: Prepare docs
        run: make prepare

      - name: Build cache decoder
        run: make build-decoder

      - name: Build docs
        run: make build-docs

      - name: Upload site artifacts
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: site
          path: site/
          if-no-files-found: error

      - name: Cypress run
        uses: cypress-io/github-action@f1f0912d392f0d06bdd01fb9ebe3b3299e5806fb # v6.7.7
        with:
          start: make serve
          wait-on: 'http://127.0.0.1:8000/'
          # we have already installed all dependencies above
          install: false
        timeout-minutes: 3

      - name: Upload cypress artifacts
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        if: always()
        with:
          name: cypress
          path: |
            cypress/videos/
            cypress/screenshots/
          if-no-files-found: error

      - name: Publish docs
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: make deploy
